In [1]:
import pandas

In [2]:
import pandas as pd

In [11]:
df = pd.read_csv('Churn_test.csv')

In [12]:
df

,CLIENTNUM,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,716470683,48,F,3,Post-Graduate,Married,Unknown,Blue,36,3,1,3,20631.0,2048,18583.0,0.676,4827,77,0.711,0.099
1,720328983,52,F,5,Unknown,Married,Less than $40K,Blue,36,4,3,3,9611.0,0,9611.0,0.840,7636,64,0.829,0.000
2,716390958,45,M,4,Unknown,Married,$120K +,Blue,31,1,4,3,26107.0,0,26107.0,0.550,1697,47,0.424,0.000
3,708741633,52,M,4,High School,Married,$60K - $80K,Blue,44,6,3,4,4153.0,0,4153.0,0.434,1771,41,0.367,0.000
4,715492983,40,M,3,Post-Graduate,Married,$120K +,Blue,36,4,2,4,7464.0,2517,4947.0,0.900,4348,62,0.879,0.337
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1008,711871758,30,F,1,Graduate,Married,Less than $40K,Blue,36,2,2,3,2905.0,2517,388.0,0.725,2487,39,0.393,0.866
1009,780206958,49,M,4,Graduate,Married,$60K - $80K,Blue,39,3,2,2,5937.0,2120,3817.0,0.654,4228,70,0.750,0.357
1010,712222758,38,F,3,Graduate,Married,Less than $40K,Blue,36,3,2,3,2300.0,0,2300.0,0.703,2500,47,0.119,0.000
1011,780653208,47,F,3,College,Married,Less than $40K,Blue,36,5,4,2,3300.0,2517,783.0,0.940,3784,55,1.115,0.763
1012,778968408,39,M,2,Doctorate,Single,$60K - $80K,Blue,27,4,1,3,5341.0,0,5341.0,0.771,1955,47,0.808,0.000

In [13]:
df.isnull().sum()

CLIENTNUM                   0
Customer_Age                0
Gender                      0
Dependent_count             0
Education_Level             0
Marital_Status              0
Income_Category             0
Card_Category               0
Months_on_book              0
Total_Relationship_Count    0
Months_Inactive_12_mon      0
Contacts_Count_12_mon       0
Credit_Limit                0
Total_Revolving_Bal         0
Avg_Open_To_Buy             0
Total_Amt_Chng_Q4_Q1        0
Total_Trans_Amt             0
Total_Trans_Ct              0
Total_Ct_Chng_Q4_Q1         0
Avg_Utilization_Ratio       0
dtype: int64